---
template: gallery
title: Paginated Index Cards
pagination:
  enabled: true
  collection: 'cards'
  indexpage: 'pageidx/1.html'
  permalink: 'pageidx/:num.html'
#  per_page: XX  # defined in _config.yml
  trail:
    before: 20 # The number of links before the current page
    after: 20  # The number of links after the current page
---
<center>
<h2>tclBlend2d Gallery ({{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}})</h2>
</center>

{% if paginator.page_trail %}
<center>
<div class="pagination">
  {% for trail in paginator.page_trail %}
	<a href="..{{ trail.path }}"
	    {% if page.url == trail.path %} class="active"{% endif %}
	>{{trail.num}}</a>
  {% endfor %}
</div>
</center>
{% endif %}

<div class="galleryBreak"></div>

<div>
{% for xcard in paginator.posts %}
	{% assign thumbImg = xcard.ID | append: '_t.png' %}
	{% assign cardPage = xcard.url %}

<div class="responsive">
  <div class="thumb">
    <a href="..{{cardPage}}">
      <img src="../pics/{{thumbImg}}"/>
    </a>
    <div class="desc">{{xcard.TITLE}}</div>
  </div>
</div>

{% endfor %}
</div>

<div class="galleryBreak"></div>
