body {
	font-family: "Verdana";
}

/* == Card Image with up, next, prev arrows === */

div.cardImageContainer {
    height: 250px ; /* Fixed size */
    ###width: auto; /* Fixed size */
    position: relative;
}

div.cardImageContainer img {
	###width: 100%;
	height: 100%;
	transition: transform 0.9s ease;
	transform-origin: center top; /* Center the zoom */
}

div.cardImageContainer:hover img {
    transform: none; /* Reset transform */
}


.prevCard, .nextCard {
	transition: transform 0.2s; /* Animation */
	position: absolute;
	top: 25%;
	cursor: pointer;
}

.nextCard {
	right: 10px;
}
.prevCard {
	left: 10px;
}
.upCard {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}


/* poi fai unica classe prevnext ...   */
.prevCard:hover, .nextCard:hover, .upCard:hover {
	transform: scale(1.2);
}

.seeAlsoContainer {
    display: flex;
    align-items: center;
}
.seeAlsoImages {
    display: flex;
}
.seeAlsoImages img {
    xxxmargin-left: 10px; /* Space between images */
}

.seeAlsoImage {
   margin-left: 10px; /* Space between images */

	transition: transform 0.2s; /* Animation */
}
.seeAlsoImage:hover {
	transform: scale(1.2);
}

/* == pagination == */

div.pagination {
	display: block;
	height: 60px;
}

div.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

div.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

div.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/* == thumbnails in pagination pages == */

div.thumb {
	transition: transform 0.2s; /* Animation */
}

div.thumb:hover {
	transform: scale(1.1);
}

div.thumb img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.thumb .desc {
	padding: 10px;
	text-align: center;
}


* {
	box-sizing: border-box;
}

.responsive {
  padding: 0px 6px;
  float: left;
  width: 19.999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.galleryBreak {
  content: "";
  display: table;
  clear: both;
}
