---
layout: default
---

{% assign Per_Page = site.pagination.per_page %}
{% assign imgFile = page.ID | append: '.png' %}
{% if page.prevID %}
	{% assign prevCard= page.prevID | append: '.html' %}
{% endif %}
{% if page.nextID %}
	{% assign nextCard= page.nextID | append: '.html' %}
{% endif %}
{% assign upCard = page.seqNo | divided_by: Per_Page | plus: 1 | append: '.html' %}


<center>
    <div class="cardImageContainer">
        <img src="../pics/{{imgFile}}" alt="Zoomable Image" id="zoomable-image">
    </div>
</center>

{% if prevCard %}
    <a href="{{prevCard}}"><img class="prevCard" src="../assets/img/leftArrow.png" alt="previous card"></a>
{% endif %}
{% if nextCard %}
    <a href="{{nextCard}}"><img class="nextCard" src="../assets/img/rightArrow.png" alt="next card"></a>
{% endif %}
	<a href="../pageidx/{{upCard}}"><img class="upCard" src="../assets/img/upArrow.png" alt="up to gallery"></a>

<center>
<h2>{{page.TITLE}}</h2>
<I>from {{page.SOURCE}}</I>
<BR>
{{page.INFO}}
</center>

{% assign relIDs= page.RELATED  | split: " " %}
{% if relIDs.size > 0 %}
<div class="seeAlsoContainer">
    <div class="text">
        <p>See also </p>
    </div>
    <div class="seeAlsoimages">
{% for relID in relIDs %}
  {% assign thumbImg = relID | append: '_t.png' %}
  {% assign relIDCard= relID | append: '.html' %}
  <A HREF={{relIDCard}}><IMG class="seeAlsoImage" src="../pics/{{thumbImg}}"></A>
{% endfor %}
    </div>
</div>

{% endif %}

<script>
    const img = document.getElementById('zoomable-image');
    img.addEventListener('mouseover', () => {
        img.style.transform = `scale(${img.naturalWidth / img.width}, ${img.naturalHeight / img.height})`;
    });

    img.addEventListener('mouseout', () => {
        img.style.transform = 'none';
    });

</script>
